<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new project</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <div class="weather">
    <form id="formWeather">
        <input type="text" id="country">
        <button>Check</button>

    </form>

    <p id="location" class="p1"></p>
    <p id="condition" class="p2"></p>
    <p id="temp" class="p3"></p>
    <p id="time" class="p4"></p>
    <p id="error" class="error"></p>
</div>
    <script src="js/script.js"></script>
</body>
</html>